:root {
  --toast-list-scrollbar-width: 0px;
  --toast-list-width: 350px;
  --toast-list-padding: 8px;
}

.toastList {
  position: fixed;
  padding: var(--toast-list-padding);
  width: 100%;
  max-width: var(--toast-list-width);
  max-height: 100vh;
  overflow: hidden auto;
  top: 0;
  right: 0;
  z-index: var(--zIndex-toast);
}

@keyframes toast-in-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.toastList > div {
  animation: toast-in-right var(--transition-default);
}

.toastList > div {
  transition:
    transform var(--transition-default),
    opacity var(--transition-default),
    box-shadow var(--transition-default) ease-in-out;
}

@keyframes toast-in-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.toastList::-webkit-scrollbar {
  width: var(--toast-list-scrollbar-width);
}

.toastList::-webkit-scrollbar-track {
  background-color: hsl(var(--secondary-hue) 10% 75%);
  border-radius: var(--toast-list-scrollbar-width);
}

.toastList::-webkit-scrollbar-thumb {
  border-radius: var(--toast-list-scrollbar-width);
  background-color: hsl(var(--secondary-hue) 10% 65%);
}

.toastList::-webkit-scrollbar-thumb:window-inactive {
  background-color: hsl(var(--secondary-hue) 10% 50%);
}
