.hidden {
  display: none;
}

.checkbox input[type="checkbox"] + .labelsWrapper {
  --left-persentage-offset: 0%;
}

.checkbox input[type="checkbox"] + .labelsWrapper .label:nth-child(1),
.checkbox input[type="checkbox"]:checked + .labelsWrapper .label:nth-child(2) {
  color: var(--text-color-white-90);
}
.checkbox input[type="checkbox"] + .labelsWrapper .label:nth-child(2),
.checkbox input[type="checkbox"]:checked + .labelsWrapper .label:nth-child(1) {
  color: inherit;
}

.checkbox input[type="checkbox"]:checked + .labelsWrapper {
  --left-persentage-offset: 50%;
}

.labelsWrapper {
  position: relative;
  z-index: 1;
}

.labelsWrapper:before {
  content: "";
  transition: left var(--transition-default);
  z-index: -1;
  position: absolute;
  inset: 0;
  left: var(--left-persentage-offset);
  top: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  background-color: var(--primary-color-90);
  border-radius: var(--border-radius-x2);
}

.label {
  user-select: none;
  cursor: pointer;
  transition: color var(--transition-default);
}
