.text {
  font-size: var(--text-size, inherit);
}

h1.text {
  --text-size: 24px;
}
h2.text {
  --text-size: 20px;
}
h3.text {
  --text-size: 18px;
}
h4.text {
  --text-size: 16px;
}
h5.text {
  --text-size: 14px;
}

.block {
  display: block;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.color {
  color: var(--text-color, inherit);
}

.uppercase {
  text-transform: uppercase;
}

.weight {
  font-weight: var(--text-weight);
}

.size {
  font-size: var(--text-size);
}

.clickable {
  cursor: pointer;
}

.ellipsed {
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  line-height: inherit;
}

.secondary {
  color: var(--text-color-70);
}
