.git
.gitignore
.gitattributes

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

node_modules/
*.tgz

.cache/
.parcel-cache/
.eslintcache
.stylelintcache
.turbo/
.storybook-static/
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

dist/
build/
out/
.angular/
.angular/cache/
out-tsc
*.tsbuildinfo

.next/
.nuxt/
.svelte-kit/

coverage/
.nyc_output
*.lcov

.env
.env.*
!.env.example

.vscode/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
.DS_Store
Thumbs.db

Dockerfile
.dockerignore
