.input {
	position: relative;

	input[type="color"] {
		cursor: pointer;
		padding: 0;
	}

	input[type="color"]::-webkit-color-swatch-wrapper {
		padding: 4px;
	}

	input[type="color"]::-webkit-color-swatch {
		border: none;
	}

	input[type="color"]::-moz-focus-inner {
		border: none;
		padding: 8px;
		border-radius: 50%;
	}

	input[type="color"]::-moz-color-swatch {
		border: none;
		border-radius: 50%;
	}

	input[type="date"] {
		cursor: pointer;
		font-family: var(--font-family);
	}

	input[type="date"]::-webkit-datetime-edit {
		padding: 0;
	}
	input[type="date"]::-webkit-datetime-edit-fields-wrapper {
		background: none;
	}
	input[type="date"]::-webkit-datetime-edit-text,
	input[type="date"]::-webkit-datetime-edit-month-field,
	input[type="date"]::-webkit-datetime-edit-day-field,
	input[type="date"]::-webkit-datetime-edit-year-field {
		/* color: var(--primary-color-30); */
	}

	input[type="date"]::-webkit-datetime-edit-month-field:focus,
	input[type="date"]::-webkit-datetime-edit-day-field:focus,
	input[type="date"]::-webkit-datetime-edit-year-field:focus {
		background-color: var(--primary-color-50);
	}

	input[type="date"]::-webkit-inner-spin-button {
		/* display: none; */
	}

	input[type="date"]::-webkit-calendar-picker-indicator {
		cursor: pointer;
	}

	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	input[type="number"] {
		-moz-appearance: textfield;
	}
}

.input input {
	background-color: var(--soft-background-color);
	border: none;
	padding: 4px 10px;
	font-size: inherit;
	border-radius: var(--border-radius-default);
	width: 100%;
	border: 1px solid var(--primary-color-10);
	transition: border var(--transition-quick);
	height: var(--input-height);
}

.input input:hover {
	border: 1px solid var(--primary-color-20);
}

.input input:active,
.input input:focus {
	outline: none;
	border: 1px solid var(--primary-color-30);
}

input::-webkit-input-placeholder {
	color: var(--primary-color-30);
}
input:-moz-placeholder {
	color: var(--primary-color-30);
	opacity: 1;
}
input::-moz-placeholder {
	color: var(--primary-color-30);
	opacity: 1;
}
input:-ms-input-placeholder {
	color: var(--primary-color-30);
}
input::-ms-input-placeholder {
	color: var(--primary-color-30);
}
input::placeholder {
	color: var(--primary-color-30);
}

.error input,
.error.input input:hover,
.error.input input:active,
.error.input input:focus {
	border: 1px solid var(--text-color-error);
}

.hidden.input {
	display: none;
}

.inputIcon {
	position: absolute;
	top: calc((var(--input-height) - 20px) / 2);
	right: 4px;
	user-select: none;
}

.withRightIcon {
	padding-right: 28px;
}
