.container {
  scroll-snap-type: x mandatory;
  overflow: scroll;
  width: 100%;
  padding: 0 24px 26px;
  scroll-padding: 24px;
}

.container2::before,
.container2::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 24px;
  height: 100%;
  z-index: 1;
}

.container2::before {
  left: 0;
  background: linear-gradient(
    270deg,
    rgba(
        var(--soft-background-color-rgb),
        var(--soft-background-color-rgb),
        var(--soft-background-color-rgb),
        0
      )
      0%,
    rgba(
        var(--soft-background-color-rgb),
        var(--soft-background-color-rgb),
        var(--soft-background-color-rgb),
        0.5
      )
      100%
  );
}

.container2::after {
  right: 0;
  background: linear-gradient(
    90deg,
    rgba(
        var(--soft-background-color-rgb),
        var(--soft-background-color-rgb),
        var(--soft-background-color-rgb),
        0
      )
      0%,
    rgba(
        var(--soft-background-color-rgb),
        var(--soft-background-color-rgb),
        var(--soft-background-color-rgb),
        0.5
      )
      100%
  );
}

.container2 {
  position: relative;
}

.container::-webkit-scrollbar {
  display: none;
}
.container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
