.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.center {
  align-items: center;
  justify-content: center;
}

.gap {
  gap: var(--flex-gap, 0px);
}

.justifyBetween {
  justify-content: space-between;
}

.alignCenter {
  align-items: center;
}

.justifyFlexEnd {
  justify-content: flex-end;
}

.alignFlexEnd {
  align-items: flex-end;
}

.wrap {
  flex-wrap: wrap;
}
