.hidden {
	display: none;
}

.label {
	user-select: none;
	cursor: pointer;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition:
		background-color var(--transition-default),
		color var(--transition-default);
}

input[type="radio"]:checked + .label {
	background-color: var(--primary-color-90);
	color: var(--text-color-white-90);
}
