:root {
	--skeleton-background: rgba(0, 0, 0, 0.05);
}

.skeleton {
	background-color: var(--skeleton-background);
	background: linear-gradient(
			100deg,
			rgba(255, 255, 255, 0) 40%,
			rgba(255, 255, 255, 0.5) 50%,
			rgba(255, 255, 255, 0) 60%
		)
		var(--skeleton-background);
	background-size: 200% 100%;
	background-position-x: 180%;
	animation: 1s loading ease-in-out infinite;
}

@keyframes loading {
	to {
		background-position-x: -20%;
	}
}
