body {
  height: 100vh;
  width: 100vw;
  font-size: 14px;
  background-color: var(--soft-background-color);
  color: var(--text-color);
}

#root {
  height: 100%;
  width: 100%;
}

#layers {
  position: relative;
  z-index: 1;
}

.full {
  width: 100%;
  height: 100%;
}

.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-gap-8 {
  gap: 8px;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
  user-select: none;
}

.containerBlock {
  padding: var(--padding-x3) var(--padding-x3);
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.containerBlock + .containerBlock {
  border-top: 1px solid var(--border-color-soft);
}

.containerBlock--medium {
  padding: var(--padding-x1-5) var(--padding-x3);
}
