body {
  height: 100vh;
  width: 100vw;
  font-size: 14px;
}

#root {
  height: 100%;
  width: 100%;
}

.full {
  width: 100%;
  height: 100%;
}

.full-w {
  width: 100%;
}

.full-h {
  height: 100%;
}
