body {
  height: 100vh;
  width: 100vw;
  font-size: 14px;
  background-color: var(--soft-background-color);
}

#root {
  height: 100%;
  width: 100%;
}

#drawers {
  position: relative;
  z-index: 1;
}

.full {
  width: 100%;
  height: 100%;
}

.full-w {
  width: 100%;
}

.full-h {
  height: 100%;
}
