.wrapper {
  box-shadow: var(--box-shadow-soft);
  border-radius: var(--border-radius-x3);
  overflow: hidden;
  user-select: none;
  cursor: pointer;
  transition: transform var(--transition-default);
  width: fit-content;
  max-width: 100%;
  min-width: var(--category-min-width, 75px);
  height: 36px;
}

.wrapper:hover {
  transform: translate(0.25px, 1px);
}

.wrapper:active {
  transform: translate(0.5px, 3px);
}

.wrapper.empty .container::before {
  background: black;
}

.container {
  position: relative;
  min-width: inherit;
  height: 100%;
  background: linear-gradient(
    67.5deg,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.1)
  );
  padding: 6px 10px;
  max-width: 100%;
}

.container::before {
  content: "";
  position: absolute;
  inset: 0;
  background: hsl(
    var(--category-color),
    var(--default-saturation-for-background),
    var(--default-lightness-for-background)
  );
  z-index: -1;
  border: 1px solid var(--primary-color-50);
  border-radius: var(--border-radius-x3);
  line-height: 24px;
}

.label {
  line-height: 24px;
  max-width: 200px;
}
