.button {
  border: none;
  padding: 4px 10px;
  line-height: 1.4375;
  font-size: inherit;
  width: 100%;
  border-radius: var(--border-radius-default);
  cursor: pointer;
  height: 34px;
  max-height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: var(--transition-default) background-color;
}

.width {
  width: var(--button-width, none);
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}

.primary {
  background-color: var(--primary-color-90);
  outline: 1px solid var(--primary-color-90);
  color: var(--text-color-white-90);
}

.primary:hover {
  background-color: var(--primary-color-80);
}

.primary:active {
  background-color: var(--primary-color-70);
}

.outline,
.transparent {
  background-color: transparent;
  color: var(--text-color-70);
}

.outline {
  outline: 1px solid var(--primary-color-30);
}

.transparent {
  min-height: 36px;
}

.outline:hover,
.transparent:hover {
  background-color: var(--primary-color-10);
}

.outline:active,
.transparent:active {
  background-color: var(--primary-color-20);
}
