.button {
  border: none;
  padding: 4px 10px;
  line-height: 1.4375;
  font-size: inherit;
  width: 100%;
  border-radius: var(--border-radius-default);
  cursor: pointer;
  height: 34px;
  max-height: 34px;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: var(--transition-default) background-color;
  z-index: 0;
}

.button.centered {
  justify-content: center;
  align-items: center;
}

.width {
  width: var(--button-width, none);
}

.primary {
  background-color: var(--primary-color-90);
  border: 1px solid var(--primary-color-90);
  color: var(--text-color-white-80);
}

.primary:hover {
  background-color: var(--primary-color-80);
}

.primary:active {
  background-color: var(--primary-color-70);
}

.outline,
.transparent {
  background-color: transparent;
  color: var(--text-color-80);
}

.outline {
  border: 1px solid var(--primary-color-30);
}

.transparent {
  height: 36px;
}

.outline:hover,
.transparent:hover {
  background-color: var(--primary-color-10);
}

.outline:active,
.transparent:active {
  background-color: var(--primary-color-20);
}

.rounded {
  padding: 0px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.active.transparent {
  background-color: var(--primary-color-10);
  border: 1px solid var(--primary-color-20);
}

.success,
.warning,
.error {
  position: relative;
  z-index: 0;
}

.success:after,
.error:after,
.warning:after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  opacity: 0.2;
}

.warning:after {
  background-color: var(--text-color-warning);
}

.error:after {
  background-color: var(--text-color-error);
}

.success:after {
  background-color: var(--text-color-success);
}
