.drawerWrapper {
	position: fixed;
	inset: 0;
	opacity: 0;
	background-color: rgba(18, 18, 18, 0.5);
	transition: opacity var(--transition-default);
	transition: opacity var(--transition-default);
	pointer-events: none;
}

.drawerWrapperEntering {
	opacity: 0;
}

.drawerWrapperEntered {
	opacity: 1;
	pointer-events: auto;
}

.drawerWrapperExiting {
	opacity: 1;
}

.drawerWrapperExited {
	opacity: 0;
}

.drawer {
	width: min-content;
	transition: transform var(--transition-default);
	position: fixed;
	top: 0;
	bottom: 0;
	height: 100%;
	pointer-events: none;
}

.drawer.left {
	left: 0;
	transform: translateX(-100%);
}

.drawerEntering.left {
	transform: translateX(-100%);
}

.drawerEntered.left {
	transform: translateX(0%);
	pointer-events: auto;
}

.drawerExiting.left {
	transform: translateX(0%);
}

.drawerExited.left {
	transform: translateX(-100%);
}

.drawer.right {
	right: 0;
	transform: translateX(100%);
}

.drawerEntering.right {
	transform: translateX(100%);
}

.drawerEntered.right {
	transform: translateX(0%);
	pointer-events: auto;
}

.drawerExiting.right {
	transform: translateX(0%);
}

.drawerExited.right {
	transform: translateX(100%);
}
