.input input {
  background-color: var(--soft-background-color);
  border: none;
  padding: 4px 10px;
  font-size: inherit;
  border-radius: var(--border-radius-default);
  width: 100%;
  outline: 1px solid var(--primary-color-10);
  transition: outline var(--transition-quick);
  height: var(--input-height);
}

.input input:hover {
  outline: 1px solid var(--primary-color-20);
}

.input input:active,
.input input:focus {
  outline: 1px solid var(--primary-color-30);
}

input::-webkit-input-placeholder {
  color: var(--primary-color-30);
}
input:-moz-placeholder {
  color: var(--primary-color-30);
  opacity: 1;
}
input::-moz-placeholder {
  color: var(--primary-color-30);
  opacity: 1;
}
input:-ms-input-placeholder {
  color: var(--primary-color-30);
}
input::-ms-input-placeholder {
  color: var(--primary-color-30);
}
input::placeholder {
  color: var(--primary-color-30);
}

input[type="color"] {
  cursor: pointer;
  padding: 0;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 4px;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
}

input[type="color"]::-moz-focus-inner {
  border: none;
  padding: 8px;
  border-radius: 50%;
}

input[type="color"]::-moz-color-swatch {
  border: none;
  border-radius: 50%;
}

.error input,
.error.input input:hover,
.error.input input:active,
.error.input input:focus {
  outline: 1px solid var(--text-color-error);
}

.hidden.input {
  display: none;
}
