.input input {
  background-color: var(--soft-background-color);
  border: none;
  padding: 4px 10px;
  font-size: inherit;
  border-radius: var(--border-radius-default);
  width: 100%;
  outline: 1px solid var(--primary-color-10);
  transition: outline var(--transition-quick);
  height: 34px;
}

.input input:hover {
  outline: 1px solid var(--primary-color-20);
}

.input input:active,
.input input:focus {
  outline: 1px solid var(--primary-color-30);
}

input::-webkit-input-placeholder {
  color: var(--primary-color-30);
}
input:-moz-placeholder {
  color: var(--primary-color-30);
  opacity: 1;
}
input::-moz-placeholder {
  color: var(--primary-color-30);
  opacity: 1;
}
input:-ms-input-placeholder {
  color: var(--primary-color-30);
}
input::-ms-input-placeholder {
  color: var(--primary-color-30);
}
input::placeholder {
  color: var(--primary-color-30);
}
