.transaction {
  border-radius: var(--border-radius-x3);
  box-shadow: var(--box-shadow-soft);
  overflow: hidden;
  user-select: none;
  cursor: pointer;
  height: 36px;
  position: relative;
}

.transaction:hover {
  transform: translate(0.25px, 1px);
}

.transaction:active {
  transform: translate(0.5px, 3px);
}

.transaction.empty .transaction-container::before {
  background: black;
}

.transaction-container {
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    67.5deg,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.1)
  );
  padding: 6px 10px;
  max-width: 100%;
  color: var(--text-color-white-90);
}

.transaction.withdraw {
  --transaction-color: 0;
}
.transaction.transfer {
  --transaction-color: 210;
}
.transaction.income {
  --transaction-color: 130;
}

.transaction-container::before {
  content: "";
  position: absolute;
  inset: 0;
  background: hsl(
    var(--transaction-color),
    calc(var(--default-saturation-for-background) + 10%),
    calc(var(--default-lightness-for-background) + 10%)
  );
  z-index: -1;
  border: 1px solid var(--primary-color-50);
  border-radius: var(--border-radius-x3);
  line-height: 24px;
}
